p {
  font-size: 1rem;
}

.cartTitle {
  text-align: center;
  margin-right: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-around;
  margin-bottom: 52px;
}

.cartTitle .row {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 100px;
}

.cartTitle .cartTitleH1-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -50px;
  height: 150px;
  width: 150px;
  background-color: #ece5b1;
  border-radius: 50%;
  font-weight: 800;
  color: #614208;
}

.cartTitle h2 {
  line-height: 45px;
}

.cartTitle .cartTitleH1 {
  line-height: 45px;
  color: #808080;
}

.cartNavItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.cartNavItem .nav {
  width: 100px;
  display: block;
  position: relative;
}

.cartNavItem .nav .nav-counter {
  position: absolute;
  top: 2px;
  right: -8px;
  min-width: 8px;
  width: 25px;
  height: 25px;
  line-height: 22px;
  margin-top: -11px;
  font-weight: 700;
  color: white;
  background: #ffbb00;
  border: 2px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cartNavItem .cartNavItemBoxBk,
.cartNavItem .cartNavItemBoxGy {
  border: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px 0 0;
  width: 143px;
  height: 50px;
  border-radius: 12px 12px 0 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cartNavItem .cartNavItemBoxBk {
  background-color: #e3e5e2;
}

.cartNavItem .cartNavItemBoxGy {
  background-color: #f7f7f7;
}

.cartMain {
  padding: 5px 0;
  height: auto;
  background-color: #e3e5e2;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cartMain .cartItemTitle {
  padding: 10px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.cartMain .cartItemTitle h4 {
  padding: 0 50px;
}

.cartMain .tableCart {
  margin: 10px 20px;
  border-top: 1px solid #ccc;
  font-size: 20px;
}

.cartMain .tableCart th {
  padding: 10px;
  font-size: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-color: #0c805d;
  color: #fff;
}

.cartMain .tableCart input {
  width: 50px;
  padding: 5px;
  height: 30px;
  text-align: center;
  border: none;
}

.cartMain .tableCart td {
  padding: auto;
  width: 300px;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 65px;
}

.cartMain .tableCart img {
  margin: 5px 10px;
  border-radius: 20%;
  width: 100px;
  height: 100px;
}

.cartMain .tableCart .tableItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cartMain .tableCart .tableItem button {
  background-color: #fff;
  border: none;
  border-radius: 15px;
}

.cartMain .tableCart button {
  background-color: transparent;
  border: none;
}

.cartMain .cartItemDay {
  /* width: 100%; */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: auto;
}

.cartMain .cartItemDay p {
  margin: 30px 20px;
  color: #056d3c;
  font-size: 20px;
}

.cartMain .cartItemDay .timeicon {
  margin: 0 10px;
  height: 20px;
}

.cartMain .cartItemDay .cart-date-hl {
  border: 1px solid #058a3c;
  border-radius: 10px;
  padding: 5px 10px;
}

.cartMain .cartItemDay .cart-date-hl2 {
  padding: 5px 10px;
  color: #323333;
}

.cartMain .cartItemDay .cart-date-to {
  font-size: 20px;
  color: #056d3c;
}

.cartMain .cartItem {
  padding: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.cartMain .cartItem tbody {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cartMain .cartItem h3 {
  padding: 0 20px;
}

.cartMain .cartItem img {
  margin: 0 20px;
  border-radius: 20%;
  width: 100px;
  height: 100px;
}

.cartMain .cartItem .cartItemDetil {
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.cartMain .cartItem .cartItemDetil p {
  padding: 0 20px;
}

.cartMain .cartItem .cartItemDetil button {
  padding: 0 20px;
}

.cartMain .cartItem .cartItemDetil input {
  width: 50px;
  border: none;
  text-align: center;
}

.cartMain .cartItem .cartItemDetil .cartItemDetilBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
}

.cartItemBtn {
  width: 171px;
  height: 50px;
  border-radius: 12px;
  background-color: #ffbb00;
  border: none;
  color: #fff;
  font-size: 20px;
}

.cartPiceDetil {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.cartPiceDetil .cartPiceDetilItem3 {
  padding-right: 10rem;
}

.cartPiceDetil .cartPiceDetilItem3 p {
  color: #145041;
}

.cartPiceDetil .cartPiceDetilItem1 {
  padding-right: 3rem;
}

.cartPiceDetil .cartPiceDetilItem1 p {
  color: #145041;
}

.cartPiceDetil .cartPiceDetilItem2 {
  width: 200px;
  color: #555;
  text-align: right;
  padding-right: 3rem;
}

.cartPiceBtn {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: auto;
  padding: 50px 0 100px 0;
}

.cartPiceBtn button,
.cartPiceBtn a {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  background-color: #ffbb00;
  border: none;
  color: #fff;
  font-size: 20px;
}
.cartPiceBtn a {
  text-align: center;
  justify-content: center;
  line-height: 47px;
  text-decoration: none;
}

.cartCards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 10px auto;
  margin: 0 auto;
}

.cartCards .cartCard {
  width: 250px;
}

.cartCards .cartCard img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  margin-bottom: 8px;
}

.cartInfoMenber {
  margin: 0 auto;
  width: 400px;
  text-align: left;
  padding: 36px 0 -36px;
}

.cartInfoMenber label {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cartInfoMenber img {
  padding: 16px 0;
}

.cartInfoMenber div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cartInfoMenber input {
  width: 400px;
  border: none;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 16px;
}

.cartInfoMenber select {
  border: none;
  border-radius: 4px;
  padding: 3px;
}

.cartInfoMenber option {
  border: none;
}

.cartInfoMenber .cartInfoBtn {
  margin-top: 100px;
  width: 100%;
  text-align: left;
}

.CartDetailText {
  text-align: center;
  padding-bottom: 50px;
  color: #145041;
  font-weight: 1200;
}

.CartDetail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-bottom: 36px;
}

.CartDetail .item1,
.CartDetail .item3 {
  width: 70%;
  color: #fff;
  background-color: #848e81;
}

.CartDetail .item1 ul,
.CartDetail .item3 ul {
  width: 100%;
  text-align: end;
  margin-right: 50px;
}

.CartDetail .item2,
.CartDetail .item4 {
  text-align: left;
}

.CartDetail ul {
  margin: 16px 0;
}

.CartDetail li {
  list-style-type: none;
}

.cartOrderTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 50px;
  text-align: center;
}

.cartOrderTitle select {
  width: 120px;
  height: 46px;
  border: none;
  border-radius: 8px;
  background-color: #e3e5e2;
  text-align: center;
  text-align-last: center;
}

.cartOrderItemHeard {
  width: 100%;
  border-radius: 12px 12px 0 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.cartOrderItemHeard thead {
  width: 100%;
  border-radius: 12px 12px 0 0;
}

.cartOrderItemHeard tbody {
  border-radius: 12px 12px 0 0;
}

.cartOrderItemHeard button {
  background-color: transparent;
  border: none;
}

.cartOrderItemHeard .cancelButton {
  background-color: #ddd;
}

.cartOrderItemBody {
  margin-top: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartOrderItemBody .cartOrderItemBox {
  text-align: center;
  margin-top: 16px;
  position: relative;
}

.cartOrderItemBody .cartOrderItemBox button {
  height: 40px;
  position: absolute;
  bottom: 10px;
  border-radius: 12px;
}

.cartOrderDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartOrderDetail li {
  list-style-type: none;
}

.cartOrderDetail .item1,
.cartOrderDetail .item3 {
  width: 20%;
  background-color: #848e81;
  color: #fff;
  padding: 20px 0;
}

.cartOrderDetail .item2,
.cartOrderDetail .item4 {
  width: 30%;
  padding: 20px 0;
}

.cartPayBtn button {
  width: 171px;
  height: 50px;
  border-radius: 12px;
  background-color: #ffbb00;
  border: none;
  color: #fff;
  font-size: 20px;
}

.containerPretty .container {
  max-width: 1000px;
}

.containerPretty h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

.containerPretty h2 small {
  font-size: 0.5em;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}

.responsive-table .table-header {
  background-color: #95a5a6;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.responsive-table .table-row {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.rwdItem {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rwdItem .day {
  color: #555;
  padding: 12px;
}

.rwdItem .row .detail {
  padding: 12px;
}

.rwdItem .row img {
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 0 10px;
  border-radius: 20%;
}

.rwdItem .row button {
  border: none;
  background-color: transparent;
}

.cart-rwd-detail {
  padding: 12px;
}

.cart-rwd-detail p {
  padding: 0 20px;
  color: #145041;
}

.cart-rwd-detail h5 {
  padding: 0 20px;
}

.cartWebsection,
.cartTitleWeb {
  display: none;
}

@media (min-width: 768px) {
  .cartWebsection,
  .cartTitleWeb {
    display: block;
  }
}

.cartMobilesection,
.cartTitleMobile {
  display: block;
}

@media (min-width: 768px) {
  .cartMobilesection,
  .cartTitleMobile {
    display: none;
  }
}

.cartMobilesection .cartPiceBtn,
.cartTitleMobile .cartPiceBtn {
  /* width: 100%; */
}

.cartMobilesection .cartTitleH1,
.cartTitleMobile .cartTitleH1 {
  display: none;
}

@media (max-width: 768px) {
  .cartInfoMenberRWD {
    padding: 0 auto;
    width: 300px;
    padding: auto;
  }
  .cartInfoMenberRWD .postalRWD {
    display: none;
  }
  .cartInfoMenberRWD input {
    width: 200px;
  }
  .cartInfoMenberRWD div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .cartInfoMenberRWD div > select {
    margin-right: 20px;
  }
  .cartInfoMenberRWD button {
    margin: 0 5px;
  }
  .cartInfoMenberRWD .paymentRWD {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .cartInfoMenberRWD .paymentRWD input {
    padding-right: 0;
  }
  .cartInfoMenberRWD .paymentRWD .sss {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
/*# sourceMappingURL=cart.css.map */
